/* Fonts */
@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Css reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "vazir";
  padding: 0;
}
a {
  text-decoration: none;
}
/* Navbar */
.navbar-custom {
  position: sticky;
  top: 0;
  z-index: 999999;
}

.top-nav {
  min-height: 20px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d3d3d;
  width: 100%;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-container svg {
  width: 20px;
  height: 20px;
  fill: #d4d4d4;
  margin: 0 7px;
  transition: all 0.5s;
  cursor: pointer;
}

.svg-container svg:hover {
  fill: #f85252;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  height: 100%;
}

.link-container p {
  color: #fff;
  margin-top: 15px;
  padding-right: 10px;
}

.link-container a {
  text-decoration: none;
  color: #d4d4d4;
  font-size: 15px;
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-signup p {
  color: #d4d4d4;
  padding: 10px;
}

.login-signup p:first-child {
  border-right: 2px solid white;
}

.phone-link {
  border-left: 2px solid white;
  padding-left: 10px;
}

.link-container svg {
  width: 20px;
  height: 20px;
  fill: #d4d4d4;
  margin-right: 10px;
}

.main-nav {
  z-index: 999;
  height: 70px;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg-header {
  display: flex;
}

.svg-header svg {
  fill: #d4d4d4;
  width: 25px;
  height: 25px;
  margin: 0 30px;
  cursor: pointer;
}
.main-nav img {
  width: 140px;
  height: 46px;
}

.dropdown-custom {
  margin: 0 14px;
}

.dropdown-custom li {
  text-align: right;
}

.dropdown-custom p {
  color: #fff;
  cursor: pointer;
}

.active-page {
  color: #f85252 !important;
  font-weight: bold;
}

.dropdown {
  direction: rtl;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-left: 34px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
/* Responsive Menu */
.responsive-menu {
  position: fixed;
  background-color: rgb(245, 228, 228);
  left: -300%;
  z-index: 999;
  height: 100vh;
  transition: 0.5s ease;
  max-width: 300px;
  padding: 20px;
  border-radius: 5px;
  overflow-y: scroll;
  direction: rtl;
}

.responsive-menu span {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
  color: #777;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.responsive-menu input {
  margin: 49px 0 15px 0;
  padding: 7px;
}
/* Slider */
.custom-slider,
.container-custom {
  width: 100%;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-radius: 100%;
}

.carousel-caption {
  top: 30%;
}

.first-slider h5,
.second-slider h5 {
  color: #ff3131;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
  animation: fadeInRight 1s ease-in-out;
}

.first-slider p,
.second-slider p {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}

.carousel-inner img {
  width: 100%;
  height: calc(100vh - 125px);
}
/* Items Section */
.items-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.items-card svg {
  width: 87px;
  height: 87px;
  fill: #f14833;
}

.items-card h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  width: 200px;
  text-align: center;
  box-shadow: inset 0 -1px 0 #ddd;
  display: inline-table;
  line-height: 1.3;
}

.items-card p {
  text-align: right;
}

.items-card h4::after {
  clear: both;
  background: #f47363;
  display: block;
  float: left;
  content: "";
  position: relative;
  height: 2px;
  width: 70%;
  margin: 20px 30% 0 0;
  border-radius: 2px;
  padding: 0;
}
/* Card Section */
.parallax {
  background-image: url("../assets/251-800x640-grayscale.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0;
}
.overlay {
  background-color: rgba(217, 217, 217, 0.7);
  height: 105%;
}

.parallax h1 {
  padding-top: 40px;
  border-bottom: 3px solid rgb(239, 79, 79);
  padding-bottom: 30px;
  display: inline-block;
}
.parallax span {
  color: rgb(239, 79, 79);
}

.text-content {
  text-align: center;
}

.grid-custom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 130px);
  gap: 30px;
  text-align: right;
}

.card-text {
  font-size: 14px;
}

.item1 {
  grid-column: 1/2;
  grid-row: 1/4;
}

.item2 {
  grid-column: 2/3;
  grid-row: 1/5;
}

.item3 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.item4 {
  grid-column: 3/4;
  grid-row: 3/5;
}
.item5 {
  grid-column: 4/5;
  grid-row: 1/5;
}

.parallax::before {
  content: "";
  width: 100%;
  height: 15px;
  background-color: #f4eaea;
  position: absolute;
}

.cta-btn {
  text-align: center;
}

.cta-btn button {
  padding: 4px 26px;
}

/* Remove default focus in accordion */
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.info {
  color: #ffffff;
  background-image: url(../assets/bckg-4.jpg);
  /* min-height: 380px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  position: relative;
}

.info::before {
  content: "";
  width: 100%;
  height: 15px;
  background-color: rgba(220, 220, 220, 0.25);
  position: absolute;
}

.overlay-info {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  text-align: center;
}

.overlay-info h3 {
  padding-top: 140px;
  padding-bottom: 40px;
  font-size: 27px;
  font-weight: bold;
}

.overlay-info p {
  padding: 0 70px 140px;
}

.company-services {
  margin-top: 100px;
}

.company-services .header-services {
  text-align: center;
}

.company-services .header-services h4 {
  color: #707070;
  font-size: 33px;
  padding-bottom: 10px;
}

.company-services .header-services {
  color: #999;
}

.company-services .header-services span {
  color: rgb(234, 79, 79);
}

.line-border {
  display: flex;
  justify-content: center;
}

.line-border span {
  width: 100px;
  height: 3px;
  background-color: rgb(234, 79, 79);
}

.mac-img {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: -5px;
}

.navtabs-container {
  direction: rtl;
}

.navtabs-container ul li {
  width: 33%;
  box-shadow: inset 0 -1px 0px #ddd;
  background-color: #f7f7f7;
}
.navtabs-container ul li button {
  width: 100%;
  color: #f38375;
}

.company-services .nav-link.active {
  border-top: 2px solid #e04834 !important;
}

.comments {
  background-color: #c24739;
  margin: 100px 0;
  position: relative;
  background-image: url(../assets/section-background-stripes2.svg);
  padding-bottom: 60px;
}

.comments::before {
  content: "";
  position: absolute;
  background-color: #f25b49;
  background-image: url(../assets/section-background-stripes2.svg);
  width: 100%;
  height: 40px;
  top: -40px;
}

.comments::after {
  content: "";
  position: absolute;
  background-color: #f25b49;
  background-image: url(../assets/section-background-stripes2.svg);
  width: 100%;
  height: 40px;
  bottom: -40px;
}

.comments-header {
  text-align: center;
}
.comments-header svg {
  width: 90px;
  height: 90px;
  margin-top: 60px;
  fill: #fff;
}

#app {
  direction: rtl;
  color: #fff;
  font-size: 25px;
  margin-top: 10px;
}

.Typewriter__cursor {
  color: rgb(249, 62, 62);
  font-size: 40px;
}

.comments .swiper {
  width: 100%;
  height: 100%;
}

.comments .swipper-wrapper {
  width: 100%;
  height: 250px;
  padding: 0 150px;
  margin-top: 30px;
  color: #f0efe7;
  font-style: italic;
  font-size: 16px;
}

.comments .swiper-slide p {
  padding: 50px 100px 0 100px;
}

.comments .swiper-button-next,
.comments .swiper-button-prev,
.comments .swiper-pagination {
  color: #fff;
}

.comments .swiper-pagination-bullet {
  background-color: #fff;
}

.iphone-img {
  width: 100%;
  height: auto;
  display: block;
}

.rocket-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid #e66969;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-rocket {
  fill: #e66969;
  width: 80px;
  height: 80px;
}

.details-header {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
}

.details-content {
  font-size: 15px;
  font-weight: 300;
  padding: 10px 50px;
}

.details-container .nav-tabs {
  border: none;
}

.details-container ul li button {
  color: #000;
}

.details-tabs {
  padding: 30px 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: 1px solid #e66969;
}

.partner-section {
  background-image: url(../assets/background-white-85.svg);
  background-color: #d0bdbd;
}

.partner-section h4 {
  text-align: center;
  padding-top: 70px;
  font-size: 30px;
  font-style: italic;
  margin: 20px 0;
  width: 200px;
  text-align: center;
  box-shadow: inset 0 -1px 0 #bdb4b4;
  display: inline-table;
  line-height: 1.3;
}

.partner-section h4::after {
  clear: both;
  background: #f47363;
  display: block;
  float: left;
  content: "";
  position: relative;
  height: 2px;
  width: 70%;
  margin: 20px 30% 0 0;
  border-radius: 2px;
  padding: 0;
}

.partner-section .swiper-slide img {
  width: 138px;
}

.partner-section .swiper {
  width: 100%;
  height: 160px;
  padding: 0 100px;
}

.footer {
  background-color: #1d2733;
  /* min-height: 1000px; */
  overflow: hidden;
}
.img-logo {
  width: 180px;
}

.container-contact {
  display: flex;
}

.call-img {
  width: 50px;
  height: 50px;
}

.call-img img {
  border: 1px solid #293441;
  padding: 16px;
  border-radius: 50%;
}

.call-us {
  padding-left: 30px;
}

.call-us h6 {
  color: #f0552c;
  font-family: sans-serif;
}

.call-us p {
  color: #fff;
  font-size: 16px;
}

.footer-social {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}

.arrow-left {
  width: 100px;
  height: 100px;
  padding-left: 30px;
  padding-top: 30px;
}

.footer-social a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #293441;
  color: #fff;
  display: block;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s;
  margin: 0 10px;
}

.top-footer {
  border-bottom: 1px solid #293441;
  padding-bottom: 12px;
}

.iframe-map {
  text-align: center;
}

.iframe-map iframe {
  border-radius: 100%;
  width: 400px;
  height: 400px;
  border: 1px solid #293441;
  text-align: center;
  padding: 20px;
}

.services {
  direction: rtl;
  padding-top: 60px !important;
}

.services-middle {
  padding-right: 40px;
}
.services h3 {
  color: #fff;
  font-size: 22px;
}

.services-item li {
  list-style-type: "<<";
  padding: 5px 10px;
  margin: 20px 12px 0 0;
  color: #a6afba;
  cursor: pointer;
  transition: all 0.5s ease;
}

.services-item li:hover {
  color: #ff7e00;
}

.line-services {
  position: relative;
  width: 80px;
  margin-top: 35px;
  height: 3px;
  background-color: #ff7e00;
}

.line-services::before {
  content: "";
  position: absolute;
  background-color: #1d2733;
  width: 6px;
  height: 3px;
  left: 6px;
}

.arrow-right {
  position: absolute;
  right: 40px;
  width: 100px;
  height: 100px;
  margin-top: -150px;
}

.copyright {
  width: 100%;
  min-height: 80px;
  background-color: #232e3a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copy-text {
  flex-basis: 50%;
}

.copy-text p {
  color: #a6afba;
  padding-top: 16px;
  text-align: center;
}

.sub-footer {
  padding-right: 30px;
  padding-top: 8px;
}

.sub-footer a {
  color: #a6afba;
  margin: 0 10px;
}

.sub-footer a:first-child {
  border-left: 2px solid #a6afba;
  padding-left: 15px;
}

/* Media Queries */

@media (max-width: 768px) {
  .top-nav {
    flex-direction: column;
  }
  .svg-container {
    margin-bottom: 10px;
  }
  .hamburger {
    display: block;
  }

  .svg-header svg {
    display: none;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -1000%;
  }

  .responsive-menu.active {
    left: 0;
  }

  .grid-custom {
    display: block;
  }

  .grid-custom div {
    margin: 20px 0;
  }

  .carousel-inner img {
    height: 400px;
  }

  .services-middle {
    padding: 60px 12px 0;
  }

  .copyright {
    flex-direction: column;
  }

  .iphone-img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 992px) {
  .grid-custom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .grid-custom > div {
    width: 300px;
  }
}

@media (max-width: 542px) {
  .carousel-inner img {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-container-mac {
    margin-top: 11%;
  }
  .collapse-content p {
    width: 141%;
  }
}

@media (min-width: 577px) and (max-width: 806px) {
  .comments .swipper-wrapper {
    padding: 0;
    height: 231px;
  }
}

@media (min-width: 456px) and (max-width: 576px) {
  .comments .swipper-wrapper {
    padding: 0;
    height: 265px;
  }
}

@media (max-width: 455px) {
  .comments .swipper-wrapper {
    padding: 0;
    height: 350px;
  }
  .comments .swipper-wrapper p {
    padding: 100px 55px 0 55px;
  }
}
