body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #faf1f1;
  font-family: sans-serif;
}

.wrapper {
  width: 768px;
  min-height: 500px;
  display: flex;
  padding: 10px 50px;
}

.left-side {
  flex-basis: 50%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #c24336;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

.left-side h1 {
  margin-top: 0;
}

.right-side {
  flex-basis: 50%;
  box-shadow: 9px 7px 17px 8px #00000040;
  background-color: #303030;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.right-side h3 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  padding: 110px 5px 10px;
  font-weight: 400;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  gap: 15px;
}

.input-wrapper input {
  box-shadow: 0px 0px 11px 0px #0000008c inset;
  border: none;
  outline: none;
  padding: 13px;
  border-radius: 14px;
  direction: rtl;
  background: #eef4fa;
}
.input-wrapper input::placeholder {
  font-size: 15px;
  color: #352f2f;
  font-weight: 400;
}

.btn {
  text-align: center;
  padding: 40px 0;
}

.btn button {
  background: #255b96;
  color: #fff;
  padding: 10px 37px;
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    padding: 0;
  }

  .right-side {
    flex-basis: 60%;
  }

  .input-wrapper {
    padding: 10px 20px;
  }

  .left-side {
    flex-basis: 40%;
    padding: 0 9px;
    text-align: center;
  }
}
